include src/mredoc/resources/defaultstyle.css
include src/mredoc/resources/style1.scss
include src/mredoc/testing/Makefile
include src/mredoc/testing/example1.py
include src/mredoc/testing/example2.py
include src/mredoc/testing/example3.py
include src/mredoc/testing/example4.py
include src/mredoc/testing/example_minimal1.py
include src/mredoc/testing/TrigonometryTriangle.svg
